{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- slider-area-start -->
<div class="slider-area">
    <div class="swiper-container slider__active">
        <div class="slider-wrapper swiper-wrapper">
            {% for slider in sliders %}
            <div class="single-slider swiper-slide slider-height d-flex align-items-center"
                data-background="{{ slider.Image.url }}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="slider-content">
                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1.5s">
                                    <a 
                                        class="st-btn ">{{ slider.Discount_Deal }}</a>
                                </div>
                                <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">SALE
                                    {{ slider.SALE }} OFF <br> {{ slider.Brand_Name }}</h2>
                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Discount
                                    {{slider.Discount}}% On Products & Free Shipping</p>
                                <div class="slider-bottom-btn mt-75">
                                    <a data-animation="fadeInUp" data-delay="1.15s" href="{% url 'shop' %}"
                                        class="st-btn-b ">Discover now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="main-slider-paginations"></div>
            <!-- slider-area-end -->
        </div>
    </div>
</div>
<!-- slider-area-end -->


<!-- features__area-start -->
<section class="features__area pt-20">
    <div class="container">
        <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
            <div class="col">
                <div class="features__item d-flex white-bg">
                    <div class="features__icon mr-20">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="features__content">
                        <h6>FREE DELIVERY</h6>
                        <p>For all orders over $120</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="features__item d-flex white-bg">
                    <div class="features__icon mr-20">
                        <i class="fa fa-money-check"></i>
                    </div>
                    <div class="features__content">
                        <h6>SAFE PAYMENT</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="features__item d-flex white-bg">
                    <div class="features__icon mr-20">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <div class="features__content">
                        <h6>24/7 HELP CENTER</h6>
                        <p>Delicated 24/7 support</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="features__item features__item-last d-flex white-bg">
                    <div class="features__icon mr-20">
                        <i class="fa-solid fa-user-group"></i>
                    </div>
                    <div class="features__content">
                        <h6>FRIENDLY SERVICES</h6>
                        <p>30 day satisfaction guarantee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features__area-end -->

<!-- banner__area-start -->
{% comment %} <section class="banner__area pt-20 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative w-img mb-30">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="{% static 'img/banner/page-banner-4.jpg' %}"
                                alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">Intelligent <br> New Touch Control</a></h6>
                        <p>Discount 20% On Products</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="{% static 'img/banner/page-banner-4.jpg' %}"
                                alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">On-sale <br> Best Prices</a></h6>
                        <p>Limited Time: Online Only!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="{% static 'img/banner/page-banner-4.jpg' %}"
                                alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">Hot Sale <br> Super Laptops 2022 </a></h6>
                        <p>Free Shipping All Order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- banner__area-end -->


<!-- topsell__area-start -->
<section class="topsell__area-1 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
           
                        <h3 class="st-titile-d">New Arrivals</h3>
                  

                    <!-- ..........................count donw area................................................... -->
                    {% comment %} <div class="offer-time">
                        <span class="offer-title d-none d-sm-block">Hurry Up! Offer ends in:</span>
                        <div class="countdown">
                            <div class="countdown-inner b-radius" data-countdown="" data-date="Mar 02 2022 20:20:22">
                                <ul class="text-center">
                                    <li><span data-days="">36</span> Days</li>
                                    <li><span data-hours="">8</span> Hours</li>
                                    <li><span data-minutes="">16</span> Mins</li>
                                    <li><span data-seconds="">54</span> Secs</li>
                                </ul>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <!-- ................................countdown..................................... -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-bs-slider">
                <div class="product-slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for product in products %}
                        <div class="product__item swiper-slide">
                            <div class="product__thumb fix">
                                <div class="product-image w-img" style="height: 200px">
                                    <a href="{{product.get_url}}">
                                        <img src="{{ product.images.url }}" alt="product">
                                    </a>
                                </div>
                                <div class="product__offer">
                                    <span class="discount">%{{product.offer}}</span>
                                </div>  
                                <div class="product-action">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'add_to_wishlist' product.id %}"
                                        class="icon-box icon-box-1">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'login'%}"
                                    class="icon-box icon-box-1">
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product__content">
                                <h6><a href="{{product.get_url}}">{{product.product_name|truncatechars:20}}</a></h6>
                                <div class="rating mb-5">
                                    <span>
                                        <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <span>{{product.countReview}} reviews</span>
                                    </span>
                                </div>
                                <div class="price mb-10">
                                    <span>₹{{product.price}}</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                {% if product.stock <= 0 %}
                                <a href="#" class="cart-btn">Out of stock</a>
                                {% else %}
                                        {% if in_cart %}
                                        <a href="#" class="cart-btn">View cart</a>
                                        {% else %}
                                <a href="{% url 'addcart' product.id %}" class="cart-btn">Add to cart</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="bs-button bs-button-prev"><i class="fa fa-chevron-left"></i></div>
                <div class="bs-button bs-button-next"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- topsell__area-end -->

<!-- banner__area-start -->
<!--<section class="banner__area banner__area-d pb-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="banner__item p-relative w-img mb-30">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="{% static 'img/banner/page-banner-4.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <span>Bestseller Products</span>
                        <h6><a href="product-details.html">PC & Docking Station</a></h6>
                        <p>Discount 20% Off, Top Quality Products</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="{% static 'img/banner/page-banner-4.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <span>Featured Products</span>
                        <h6><a href="product-details.html">Accessories iPhone</a></h6>
                        <p>Free Shipping All Order Over $99</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- banner__area-end -->

<!-- topsell__area-start -->
<section class="topsell__area-2 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile">Top Selling Products</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tab-content" id="flast-sell-tabContent">
                    <div class="tab-pane fade active show" id="computer" role="tabpanel" aria-labelledby="computer-tab">
                        <div class="product-bs-slider-2">
                            <div class="product-slider-2 swiper-container">
                                <div class="swiper-wrapper">
                                    
                                {% for topsell in top_selling %}
                                    
                                <div class="product__item swiper-slide">
                                    <div class="product__thumb fix">
                                        <div class="product-image w-img" style="height: 200px">
                                            <a href="{{topsell.get_url}}">
                                                <img src="{{ topsell.images.url }}" alt="product">
                                            </a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">%{{topsell.offer}}</span>
                                        </div>  
                                        <div class="product-action">
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'add_to_wishlist' topsell.id %}"
                                                class="icon-box icon-box-1">
                                                <i class=" fa fa-heart"></i>
                                                <i class=" fa fa-heart"></i>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'login'%}"
                                            class="icon-box icon-box-1">
                                            <i class=" fa fa-heart"></i>
                                            <i class=" fa fa-heart"></i>
                                        </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="product__content">
                                        <h6><a href="{{topsell.get_url}}">{{topsell.product_name|truncatechars:20}}</a></h6>
                                        <div class="rating mb-5">
                                            <span>
                                                <i class="fa fa-star{% if topsell.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if topsell.averageReview < 1.5 %}-o{% elif topsell.averageReview >= 1.5 and topsell.averageReview < 2 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if topsell.averageReview < 2.5 %}-o{% elif topsell.averageReview >= 2.5 and topsell.averageReview < 3 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if topsell.averageReview < 3.5 %}-o{% elif topsell.averageReview >= 3.5 and topsell.averageReview < 4 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if topsell.averageReview < 4.5 %}-o{% elif topsell.averageReview >= 4.5 and topsell.averageReview < 5 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                <span>{{topsell.countReview}} reviews</span>
                                            </span>
                                        </div>
                                        <div class="price mb-10">
                                            <span>₹{{topsell.price}}</span>
                                        </div>
                                    </div>
                                    <div class="product__add-cart text-center">
                                        {% if topsell.stock <= 0 %}
                                        <a href="#" class="cart-btn">Out of stock</a>
                                        {% else %}
                                                {% if in_cart %}
                                                <a href="#" class="cart-btn">View cart</a>
                                                {% else %}
                                        <a href="{% url 'addcart' topsell.id %}" class="cart-btn">Add to cart</a>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                {% endfor %}

                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="bs-button bs2-button-prev"><i class="fa fa-chevron-left"></i></div>
                            <div class="bs-button bs2-button-next"><i class="fa fa-chevron-right"></i></div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- topsell__area-end -->

<!-- featured-start -->
{% comment %} <section class="featured light-bg pt-55 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title">
                        <h5 class="st-titile">Top Featured Products</h5>
                    </div>
                    <div class="button-wrap">
                        <a href="shop.html">See All Product <i class=" fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="single-features-item single-features-item-d b-radius mb-20">
                    <div class="row  g-0 align-items-center">
                        <div class="col-md-6">
                            <div class="features-thum">
                                <div class="features-product-image w-img">
                                    <a href="product-details.html"><img src="assetsimg/features-product/fpb-1.jpg"
                                            alt=""></a>
                                </div>
                                <div class="product__offer">
                                    <span class="discount">-15%</span>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal"
                                        data-bs-target="#productModalId">
                                        <i class=" fa-eye"></i>
                                        <i class=" fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class=" fa fa-heart"></i>
                                        <i class=" fa fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class=" fa-layer-group"></i>
                                        <i class=" fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product__content product__content-d">
                                <h6><a href="product-details.html">Samsang Galaxy A70 128GB Dual-SIM</a></h6>
                                <div class="rating mb-5">
                                    <ul class="rating-d">
                                        <li><a href="#"><i class=" fa-star"></i></a></li>
                                        <li><a href="#"><i class=" fa-star"></i></a></li>
                                        <li><a href="#"><i class=" fa-star"></i></a></li>
                                        <li><a href="#"><i class=" fa-star"></i></a></li>
                                        <li><a href="#"><i class=" fa-star"></i></a></li>
                                    </ul>
                                    <span>(01 review)</span>
                                </div>
                                <div class="price d-price mb-10">
                                    <span>$307.00 <del>$110</del></span>
                                </div>
                                <div class="features-des mb-25">
                                    <ul>
                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Bass and Stereo
                                                Sound.</a></li>
                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Display with
                                                3088 x 1440 pixels resolution.</a></li>
                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Memory, Storage
                                                &amp; SIM: 12GB RAM, 256GB.</a></li>
                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Androi v10.0
                                                Operating system.</a></li>
                                    </ul>
                                </div>
                                <div class="cart-option">
                                    <a href="cart.html" class="cart-btn-2 w-100 mr-10">Add to Cart</a>
                                    <a href="cart.html" class="transperant-btn"><i class=" fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-features-item b-radius mb-20">
                            <div class="row  g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="product-details.html"><img
                                                    src="assetsimg/features-product/fp-1.jpg" alt=""></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-15%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d">
                                        <h6><a href="product-details.html">Epple Watch SE Gold Aluminum</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$307.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-features-item b-radius mb-20">
                            <div class="row  g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="product-details.html"><img
                                                    src="assetsimg/features-product/fp-2.jpg" alt=""></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-5%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d">
                                        <h6><a href="product-details.html">G951s Pink Stereo Gaming Headset</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$307.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-features-item b-radius mb-20">
                            <div class="row  g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="product-details.html"><img
                                                    src="assetsimg/features-product/fp-3.jpg" alt=""></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d">
                                        <h6><a href="product-details.html">Solo3 Wireless On-Ear Headphones</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$307.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-features-item b-radius mb-20">
                            <div class="row  g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="product-details.html"><img
                                                    src="assetsimg/features-product/fp-4.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d">
                                        <h6><a href="product-details.html">Men’s Short-Sleeve Pocket Oxford Shirt</a>
                                        </h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                                <li><a href="#"><i class=" fa-star"></i></a></li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$307.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- featured-end --> {% endcomment %}

<!-- moveing-text-area-start -->
<section class="moveing-text-area">
    <div class="container">
        <div class="ovic-running">
            <div class="wrap">
                <div class="inner">
                    <p class="item">Free delivery for purchases up to ₹ 50000</p>
                    <p class="item">Free delivery for purchases up to ₹ 50000</p>
                    <p class="item">Free delivery for purchases up to ₹ 50000</p>
                    {% comment %} <p class="item">Design Week / 15% Off the website / Code: AYOSALE-2020</p>
                    <p class="item">Always iconic. Now organic. Introducing the $20 Organic Tee.</p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- moveing-text-area-end -->

<!-- recomand-product-area-start -->
{% if user.is_authenticated %}
{% if is_rec_av %}
<section class="recomand-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile">Recommended For You</h5>
                    </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="product-bs-slider-2">
                <div class="product-slider-3 swiper-container">
                    <div class="swiper-wrapper">
                    {% for recommendation in recommendations %}
                        <div class="product__item swiper-slide">
                            <div class="product__thumb fix">
                                <div class="product-image w-img" style="height: 200px">
                                    <a href="{{recommendation.product_id.get_url}}">
                                        <img src="{{ recommendation.product_id.images.url }}" alt="product">
                                    </a>
                                </div>
                                <div class="product__offer">
                                    <span class="discount">%{{recommendation.product_id.offer}}</span>
                                </div>  
                                <div class="product-action">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'add_to_wishlist' recommendation.product_id.id %}"
                                        class="icon-box icon-box-1">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'login'%}"
                                    class="icon-box icon-box-1">
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product__content">
                                <h6><a href="{{recommendation.product_id.get_url}}">{{recommendation.product_id.product_name|truncatechars:20}}</a></h6>
                                <div class="rating mb-5">
                                    <span>
                                        <i class="fa fa-star{% if recommendation.product_id.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if recommendation.product_id.averageReview < 1.5 %}-o{% elif recommendation.product_id.averageReview >= 1.5 and recommendation.product_id.averageReview < 2 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if recommendation.product_id.averageReview < 2.5 %}-o{% elif recommendation.product_id.averageReview >= 2.5 and recommendation.product_id.averageReview < 3 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if recommendation.product_id.averageReview < 3.5 %}-o{% elif recommendation.product_id.averageReview >= 3.5 and recommendation.product_id.averageReview < 4 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-star{% if recommendation.product_id.averageReview < 4.5 %}-o{% elif recommendation.product_id.averageReview >= 4.5 and recommendation.product_id.averageReview < 5 %}-half-o {% endif %}"
                                            aria-hidden="true"></i>
                                        <span>{{recommendation.product_id.countReview}} reviews</span>
                                    </span>
                                </div>
                                <div class="price mb-10">
                                    <span>₹{{recommendation.product_id.price}}</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                {% if recommendation.product_id.stock <= 0 %}
                                <a href="#" class="cart-btn">Out of stock</a>
                                {% else %}
                                        {% if in_cart %}
                                        <a href="#" class="cart-btn">View cart</a>
                                        {% else %}
                                <a href="{% url 'addcart' recommendation.product_id.id %}" class="cart-btn">Add to cart</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- recomand-product-area-end -->
{% endif %}
{% else %}
{% endif %}
{% endblock %}