{% extends 'adminpannel/base.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>SlNo</th>
                <th>Product name</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Vendor</th>
                <th>Available</th>
                <th></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for p in product %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>
                  <i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>{{p.product_name|truncatechars:20}}</strong>
                </td>
                <td>{{p.category}}</td>
                <td>{{p.stock}}</td>
                <td>{{p.price}}</td>
                <td>{{p.vendor.username}}</td>
                <td>{{p.is_available}}</td>
                <td>{{p.product_permission}}</td>
                <td><span class="badge bg-label-primary me-1">{{p.is_available}}</span></td>
                <td>

                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a href="{% url 'pending_product_manage' p.id %}" class="dropdown-item" href="javascript:void(0);"><i
                          class="bx bx-edit-alt me-1"></i>list</a>    
                    </div>
                  </div>

                  
                </td>
              </tr>
              {% endfor %}
              </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="content-backdrop fade"></div>
</div>
{% endblock %}