{% extends 'adminpannel/base.html' %}
{% block content %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <h5 class="card-header">Table Basic</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Last active</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% for user in users %}
        <tbody class="table-border-bottom-0">
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{user.email}}</strong></td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.last_login}}</td>
            {% if user.is_active %}
            <td><span class="badge bg-label-success me-1">Active</span></td>
            {% else %}
            <td><span class="badge bg-label-danger me-1">Active</span></td>
            {% endif %}
            <td>
              <div>
                {% if user.is_active %}
                <form action="{% url 'block_user' user.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">block user</button>
                </form>
                {% else %}
                <form action="{% url 'unblock_user' user.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-success" type="submit">unblock user</button>
                </form>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="content-backdrop fade"></div>
</div>
</div>
</div>
<div class="layout-overlay layout-menu-toggle"></div>
</div>
{% endblock %}